<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="theme-color" content="#FFE600">
		<meta name="description" content="A maior Comunidade de compra e venda online da América Latina.">
		<meta property="og:image" content="assets/img/mercado-libre.png">

		<title>Mercado livre</title>
		
		<link rel="canonical" href="https://www.mercadolivre.com.br/">
		<link rel="shortcut icon" href="assets/img/favicon.ico">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	
	<body>
		<div class="navbar">
			<div class="container">
				<a href="" class="img-logo">Mercado Livre Brasil - Onde comprar e vender de Tudo</a>
				
				<form id="formSearch" name="form-search" action="https://api.mercadolibre.com/sites/MLA/search" class="search-container" onsubmit="event.preventDefault()">
					<input type="text" id="query" name="query" placeholder="Nunca deixe de buscar" autocomplete="off">
					<button type="submit"></button>
				</form>
			</div>
		</div>
		
		<div id="content" class="content container">
			<div id="breadcrumb" class="breadcrumb"></div>
			
			<div id="result" class="card">				
			</div>
		</div>
		
		<!-- templates -->
		<script type="text/template" id="itemTemplate">
			<a href="#items/<%= id %>-<%= url_title %>" class="result-item">
				<div class="image-wrap">
					<img src="<%= thumbnail %>">
				</div>
				
				<div class="result-item-description">
					<div class="price">$ <%= formated_price %><% if(shipping.free_shipping) { %><span class="free-shipping"></span><% } %></div>
					<div class="title"><%= title %></div>
					<div class="city-name-mobile"><%= address.city_name %></div>
				</div>
				
				<div class="city-name"><%= address.city_name %></div>
			</a>
		</script>

		<script type="text/template" id="itemLoadingTemplate">
			<div class="result-item">
				<div class="image-wrap">
					<div class="placeholder-loading" style="max-width: 180px; padding-bottom: 100%;"></div>
				</div>
				
				<div class="result-item-description">
					<div class="placeholder-loading" style="width: 75%; max-width: 200px; height: 24px; margin-bottom: 32px;"></div>
					<div class="placeholder-loading" style="height: 18px; margin-bottom: 8px;"></div>
					<div class="placeholder-loading" style="height: 18px; width: 50%;"></div>
				</div>
			</div>

			<hr>

			<div class="result-item">
				<div class="image-wrap">
					<div class="placeholder-loading" style="max-width: 180px; padding-bottom: 100%;"></div>
				</div>
				
				<div class="result-item-description">
					<div class="placeholder-loading" style="width: 75%; max-width: 200px; height: 24px; margin-bottom: 32px;"></div>
					<div class="placeholder-loading" style="height: 18px; margin-bottom: 8px;"></div>
					<div class="placeholder-loading" style="height: 18px; width: 50%;"></div>
				</div>
			</div>

			<hr>

			<div class="result-item">
				<div class="image-wrap">
					<div class="placeholder-loading" style="max-width: 180px; padding-bottom: 100%;"></div>
				</div>
				
				<div class="result-item-description">
					<div class="placeholder-loading" style="width: 75%; max-width: 200px; height: 24px; margin-bottom: 32px;"></div>
					<div class="placeholder-loading" style="height: 18px; margin-bottom: 8px;"></div>
					<div class="placeholder-loading" style="height: 18px; width: 50%;"></div>
				</div>
			</div>

			<hr>

			<div class="result-item">
				<div class="image-wrap">
					<div class="placeholder-loading" style="max-width: 180px; padding-bottom: 100%;"></div>
				</div>
				
				<div class="result-item-description">
					<div class="placeholder-loading" style="width: 75%; max-width: 200px; height: 24px; margin-bottom: 32px;"></div>
					<div class="placeholder-loading" style="height: 18px; margin-bottom: 8px;"></div>
					<div class="placeholder-loading" style="height: 18px; width: 50%;"></div>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="itemDetailTemplate">
			<div class="item-detail">
				<div class="item-detail-picture">
					<img src="<%= pictures[0].url %>">
				</div>
				
				<div class="item-detail-description">
					<div class="sold"><%= condition_text %> - <%= sold_quantity %> vendidos</div>
					<div class="title-detail"><%= title %></div>
					<div class="price-wrapper">
						<div class="big-price">$ <%= formated_price %><div class="cents">00</div></div>
					</div>
					<button type="button" class="buy-button">Comprar</button>
				</div>
			</div>
			
			<div class="item-description-header">Descrição do produto</div>
			<div class="item-description"><%= description %></div>
		</script>

		<script type="text/template" id="itemDetailErrorTemplate">
			<div class="error-container">
				<p><i class="fas fa-shopping-cart"></i></p>
				<p>Produto não encontrado</p>
				<a href="">Voltar para tela inicial</a>
			</div>
		</script>
		
		<!-- libs -->
		<script src="assets/js/jquery-3.3.1.min.js"></script>
		<script src="assets/js/underscore-min.js"></script>
		<script src="assets/js/backbone-min.js"></script>
		
		<!-- helper -->
		<script src="js/helper.js"></script>
		
		<!-- app -->
		<script src="js/app.js"></script>
		
		<!-- Models -->
		<script src="js/Models/ProductList.js"></script>
		<script src="js/Models/ProductDetail.js"></script>
		
		<!-- Collections -->
		<script src="js/Collections/ProductList.js"></script>
		<script src="js/Collections/ProductDetail.js"></script>
		<script src="js/Collections/ProductDescription.js"></script>
		
		<!-- Views -->
		<script src="js/Views/product-list.js"></script>
		<script src="js/Views/product-detail.js"></script>
		<script src="js/router.js"></script>	
	</body>
</html>