:root {
	--yellow: #FFE600;
	--grey-1: #333;
	--grey-2: #666;
	--grey-3: #999;
	--grey-4: #EEE;
	--shadow-1: 0 1px 0 0 rgba(0,0,0,.1);
	--shadow-2: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-display: swap;
	font-style: normal;
	src: url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2) format("woff2"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff) format("woff"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.ttf) format("truetype")
}
	
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	src: url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff2) format("woff2"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff) format("woff"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-display: swap;
	font-style: normal;
	src: url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff2) format("woff2"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff) format("woff"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.ttf) format("truetype")
}

body, ::-webkit-input-placeholder {
	font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	margin: 0;
	color: var(--grey-1);
}

::-webkit-input-placeholder {
	color: var(--grey-3);
}

.container {
	max-width: 1200px;
	padding: 0 16px;
	margin: 0 auto;
}

.navbar {
	position: absolute;
	width: 100%;
	min-height: 56px;
	background-color: var(--yellow);
	box-shadow: var(--shadow-1);
}

.img-logo {
	background-image: url(img/Logo_ML@2x.png);
	background-position: center;
	background-size: 58px;
	background-repeat: no-repeat;
	height: 58px;
	width: 60px;
	position: absolute;
	overflow: hidden;
	color: transparent;
	user-select: none;
}

.search-container {
	display: flex;
	padding: 10px 0 10px 90px;
}

.search-container > input {
	border-radius: 2px 0 0 2px;
	border: none;
	font-size: 18px;
	padding: 8px 16px;
	outline-width: 0;
	width: 100%;
}

.search-button {
	padding: 8px;
	background-image: url(img/ic_Search@2x.png);
	background-position: center;
    background-repeat: no-repeat;
	background-size: 18px;
    width: 50px;
    height: 38px;
	border: none;
	border-radius: 0 2px 2px 0;
	cursor: pointer;
}