$color: (
    yellow: #FFE600,
    grey-1: #333,
    grey-2: #666,
    grey-3: #999,
    grey-4: #EEE,
    blue: #3483FA,
);

$font-family:  Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$shadow: 0 1px 0 0 rgba(0, 0, 0, .1);