/* Fonts */
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-display: swap;
	font-style: normal;
	src: url(../font/proximanova-light.woff2) format("woff2"),
		 url(../font/proximanova-light.woff) format("woff"),
		 url(../font/proximanova-light.ttf) format("truetype")
}
	
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	src: url(../font/proximanova-regular.woff2) format("woff2"),
		 url(../font/proximanova-regular.woff) format("woff"),
		 url(../font/proximanova-regular.ttf) format("truetype")
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-display: swap;
	font-style: normal;
	src: url(../font/proximanova-semibold.woff2) format("woff2"),
		 url(../font/proximanova-semibold.woff) format("woff"),
		 url(../font/proximanova-semibold.ttf) format("truetype")
}

/* Application CSS */
:root {
	--yellow: #FFE600;
	--grey-1: #333;
	--grey-2: #666;
	--grey-3: #999;
	--grey-4: #EEE;
	--blue: #3483FA;
	--font-family:  Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	--shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

body {
	font-family: var(--font-family);
	margin: 0;
	color: var(--grey-1);
	background-color: var(--grey-4);
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
	transition: color .2s;
}

a:hover {
    color: #007BFF;
}

::-webkit-input-placeholder {
	font-family: var(--font-family);
	color: var(--grey-3);
}

.container {
	max-width: 1200px;
	padding: 0 16px;
	margin: 0 auto;
}

.navbar {
	width: 100%;
	min-height: 56px;
	background-color: var(--yellow);
	box-shadow: var(--shadow);
}

.img-logo {
	background-image: url(../img/Logo_ML@2x.png);
	background-position: center;
	background-size: 58px;
	background-repeat: no-repeat;
	height: 58px;
	width: 60px;
	position: absolute;
	overflow: hidden;
	color: transparent;
	user-select: none;
}

.search-container {
	display: flex;
	padding: 10px 0 10px 90px;
}

.search-container > input {
	border-radius: 2px 0 0 2px;
	border: none;
	font-size: 18px;
	padding: 8px 16px;
	outline-width: 0;
	width: 100%;
}

.search-container > button {
	padding: 8px;
	background-image: url(../img/ic_Search@2x.png);
	background-position: center;
    background-repeat: no-repeat;
	background-size: 18px;
    width: 50px;
    height: 38px;
	border: none;
	border-radius: 0 2px 2px 0;
	cursor: pointer;
	background-color: var(--grey-4);
}

.content {
	padding-bottom: 16px;
}

.breadcrumb {
	padding: 16px 0;
	font-size: 14px;
	color: var(--grey-2);
}

.breadcrumb-space {
	margin: 0 8px;
}

.card {
	padding: 16px;
	background-color: #FFF;
	box-shadow: var(--shadow);
}

.card .item-detail {
	padding: 16px;
	display: flex;
}

.result-item {
	display: flex;
}

hr {
	margin: 16px 0;
	border-top: none;
	border-bottom: 1px solid var(--grey-4);
}

.result-item img {
	width: 100%;
	height: 100%;
	max-width: 180px;
	border-radius: 4px;
}

.result-item-description {
	vertical-align: top;
	margin: 16px;
	width: 50%;
}

.price, .title-detail {
	font-size: 24px;
	margin-bottom: 32px;
}

.title-detail {
	font-weight: 600;
}

.title {
	font-size: 18px;
}

.city-name {
	font-size: 12px;
	vertical-align: top;
	margin: 24px 16px 16px 0;
}

.free-shipping {
	background-image: url(../img/ic_shipping@2x.png);
	background-position: center;
    background-repeat: no-repeat;
	background-size: contain;
	padding: 8px;
	margin-left: 10px;
}

.item-detail img {
	width: 100%;
	height: 100%;
	max-width: 680px;
}

.item-detail-description {
	margin-left: 32px;
	flex: 1;
}

.sold {
	margin-bottom: 16px;
	font-size: 14px;
}

.big-price {
	font-size: 46px;
	margin-bottom: 32px;
}

.buy-button {
	width: 100%;
    padding: 12px;
    font-size: 18px;
    color: #FFF;
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
	cursor: pointer;
}

.item-description-header {
	padding: 16px;
	font-size: 28px;
}

.item-description {
	padding: 16px;
	font-size: 16px;
	color: var(--grey-3);
}